DATABASE_URL="file:./dev.db"
PORT=3000
REDIS_URI_WITH_AUTH=
APP_ENV=development
SERVER_TIME_ZONE=Asia/Qatar
CORS_ORIGIN=*
RATE_LIMIT_WINDOW=1 minute
RATE_LIMIT_MAX=120
JWT_SECRET=my_super_secret_key_12345
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d